
.navBarHeaderLogoOff {
    background-color: #835927;
  }
  
  .logoheader {
    width: 50px;
     
  }
  
  .nav-link {
    
    color: #fff;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #fff;
    background-color: #6c4722; 
  }
  .navbar-expand-lg .navbar-collapse{
    flex-direction: row-reverse;
  }
  .navbar-toggler-icon {
    background-color: #fff; 
  }